.section-wrapper.carousel-container > div {
  max-width: 1010px;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 850px;
  padding-bottom: 32px;
}

.carousel-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 60%;
  max-height: 824px;
  min-height: 224px;
  margin: 0 auto;
  white-space: nowrap;
  position: relative;
  user-select: none;
}

.carousel-slides {
  position: absolute;
  height: 100%;
  width: 919px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.carousel-slides > div {
  background-color: #FFF;
  max-height: 800px;
  min-height: 200px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  position: relative;
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

.carousel-slide {
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 200%;
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease-out;
  padding: 0 10px;
  background: white;
  box-sizing: border-box;
  width: 800px;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.2);
  transition: filter 0.3s;
}

.carousel-slide.slide-active {
  left: 0;
  z-index: 2;
}

.carousel-slide.slide-active img {
  filter: none;
}

.carousel-slide.slide-prev {
  left: -800px;
  z-index: 1;
}

.carousel-slide.slide-next {
  left: 800px;
  z-index: 1;
}

.carousel-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.carousel-arrow {
  height: auto;
  width: auto;
  padding: 5px;
  background-color: white;
  transition: border 0.2s;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(116, 116, 116, 0.3);
  color: #747474;
}

.carousel-arrow svg {
  height: 18px;
  width: 18px;
}

.carousel-previous {
  order: -2;
}

.carousel-previous svg {
  transform: rotate(180deg)
}

.carousel-arrow:hover {
  border: 1px solid rgb(116, 116, 116, 0.8);
  transition: border 0.5s;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: flex-end;
  order: -1;
  transform: translateY(28px);
}

.carousel-dot {
  background-color: #E8E8E8;
  border: none;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transition: background-color 0.5s;
  padding: 0;
  cursor: pointer;
  margin: 0 8px;
}

.carousel-dot.dot-active {
  background-color: #6E6E6E;
}

@media screen and (max-width: 1085px) {
  .section-wrapper.carousel-container > div {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }
  
  .carousel-slides,
  .carousel-slide {
    width: 100%;
    box-sizing: border-box;
  }

  .carousel-slides > div {
    width: 90%;
    box-sizing: border-box;
  }

  .carousel-slide.slide-prev {
    left: -100%;
  }
  
  .carousel-slide.slide-next {
    left: 100%;
  }

  .carousel-slide {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .carousel-controls {
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .carousel-slide {
    padding-left: 4px;
    padding-right: 4px;
  }
}