.newsletter-modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    margin-top: 0!important;
}

.newsletter-modal-container.active {
    display: block;
}

.newsletter-modal {
    width: 80%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

.newsletter-modal-banner {
    position: relative;
    width: 100%;
    transform: scale(1.01);
}

.newsletter-modal-close {
    display: flex;
    position: absolute;
    top: 10px;
    right: 14px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.newsletter-modal-close-icon {
    width: 12px;
    height: 12px;
}

.newsletter-modal-text {
    width: 80%;
    max-width: 350px;
    font-size: 16px;
    text-align: center;
    margin: 30px 0 25px 0!important;
    padding: 0 20px;
}

.newsletter-modal-email-label {
    width: 80%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.newsletter-modal-email-label span {
    font-size: 12px;
    color: #747474;
}

.newsletter-modal-email-label input {
    border: none;
    border-bottom: 1px #D3D3D3 solid;
    font-style: italic;
    font-size: 14px;
    padding: 4px 0 6px 0;
    color: #959595;
}

.newsletter-modal-email-label input:focus {
    outline: none;
}

.newsletter-modal-email-label input::-webkit-input-placeholder {
    color: #D3D3D3;
}

.newsletter-modal-cta {
    background-color: #1473E6;
    color: white;
    border-radius: 100px;
    padding: 8px 16px;
    border: none;
    margin-bottom: 15px;
}

.newsletter-modal-disclaimer {
    width: 80%;
    max-width: 360px;
    font-size: 10px;
    text-align: center;
    color: #2C2C2C;
    margin-bottom: 40px;
}

.newsletter-modal-disclaimer a, .newsletter-modal-disclaimer a:visited, .newsletter-modal-disclaimer a:active {
    text-decoration: none;
    color: #1473E6
}

@media (min-width: 600px) {
    .newsletter-modal-text {
        font-size: 18px;
    }

    .newsletter-modal-disclaimer {
        font-size: 13px;
    }
}