.block.sticky-header {
    position: sticky;
    top: 65px;
    left: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px #EEEEEE solid;
    padding: 8px 0;
    font-size: 16px;
}

.block.sticky-header > div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.block.sticky-header img {
    display: block;
}

@-webkit-keyframes buttonGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes buttonGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes buttonGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.block.sticky-header .button {
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    user-select: none;
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-size: 400% 400%;
    background-position: center;
    -webkit-animation: buttonGradient 45s ease infinite;
    -moz-animation: buttonGradient 45s ease infinite;
    animation: buttonGradient 45s ease infinite;
}

.sticky-header-close {
  cursor: pointer;
}
