main .toolkit {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

main .toolkit .container {
    display: flex;
    flex-direction: column;
    order: 2;
}

main .toolkit .row {
    width: 320px;
    display: flex;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

main .toolkit .container .row .row-content {
    width: 100%;
    margin: 15px 15px 5px 15px;
}

main .toolkit .container a {
    text-decoration: none;
}

main .toolkit .container h2 {
    display: flex;
    margin: 0 0 10px 0;
    color: #4D4D4D;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
}

main .toolkit .container h2 img {
    width: 18px;
    margin-left: 10px;
}

main .toolkit .container p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #4D4D4D;
}

main .toolkit .container .row-content a.button {
    margin: 0;
}

main .toolkit .container .row-image {
    display: flex;
}

main .toolkit .container .row-image img {
    max-width: 100px;
    display: block;
    height: 100%;
}

main .toolkit .container .ctas a {
    margin-top: 0;
}

@media (min-width: 880px) {
    main .toolkit {
        flex-direction: row;
        max-width: 1000px;
        gap: 40px;
    }

    main .toolkit .column :first-child {
        margin-top: 0;
    }

    main .toolkit .container {
        order: initial;
    }
}
