@import url(../styles.css);

#filters div {
  display: flex;
}

#filters label {
  min-width: 100px;
}

#search input {
  width: 300px;
}

#replace input {
  width: 300px;
}

#results .nbOfResults, #results .noResult {
  padding: 20px 0;
}

#results .result {
  margin-top: 10px;
  border: 1px solid lightgrey;
}

#results .path {
  padding: 10px;
  background-color: lightgray;
  color: black;
}

#results .line {
  padding: 10px;
}

#results .lineNumber {
  margin: 0 5px;
}

#results .text font.searched {
  text-decoration: line-through;
  font-weight: bold;
  background-color: lightcoral;
  padding: 2px;
}

#results .text font.replaceWith {
  font-weight: bold;
  background-color: lightseagreen;
  padding: 2px;
  margin-left: 2px;
}